@charset "utf-8";
/* CSS Document */

/******************************

COLOR PALETTE




[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Logo
	3.2 Main Nav
	3.3 Header Side
	3.4 Hamburger
4. Menu
	4.1 Menu Social
	4.2 Menu copyright
5. Home
	5.1 Hero Slider
	5.2 Hero Slider Navigation
6. Hero Boxes
7. Page Section
8. Buttons
9. Popular
10. Register
11. Search
	11.1 Search Form
12. Services
13. Testimonials
14. Events
15. Footer
	15.1 Newsletter
	15.2 Footer Content
	15.3 Footer Copyright


******************************/

/***********
1. Fonts
***********/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	/* color: #a5a5a5; */
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family:'Poppins', sans-serif;
	font-size: 14px;
	line-height: 2.29;
	font-weight: 400;
	color: #a5a5a5;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: #FFD266;
	color: #C88E00;
}
p::selection
{
	background: #FFD266;
	color: #C88E00;
}
h1{font-size: 36px;}
h2{font-size: 22px;}
h3{font-size: 18px;}
h4{font-size: 14px;}
h5{font-size: 11px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #a5a5a5 !important;
}
:-moz-placeholder /* older Firefox*/
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #a5a5a5 !important;
}
::-moz-placeholder /* Firefox 19+ */ 
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #a5a5a5 !important;
} 
:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #a5a5a5 !important;
}
::input-placeholder
{
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #a5a5a5 !important;
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.nopadding
{
	padding: 0px !important;
}

/*********************************
3. Header
*********************************/

.header
{
	position: fixed;
	top: 45px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 1318px;
	height: 90px;
	background: #FFFFFF;
	z-index: 10;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	border-radius: 20px;
	box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.09);
}
.header_load
{
	position: fixed;
	z-index: 10;
}
/* .header.scrolled
{	
	top: 45px;
} */
.header_content
{
	width: calc(100% - 279px);
	height: 100%;
}
.header_content::before
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	z-index: -1;
}


/*********************************
3.1 Logo
*********************************/

.logo_container
{
	display: inline-block;
	/* padding-left: 76px; */
}
.logo img{
	width: 200px;
}
.logo span
{
	font-family:'Poppins', sans-serif;
	font-size: 30px;
	font-weight: 900;
	color: #3a3a3a;
	vertical-align: middle;
	text-transform: uppercase;
	margin-left: 3px;
}

/*********************************
3.2 Main Nav
*********************************/

.main_nav_container
{
	display: inline-block;
	margin-left: auto;
}
.main_nav
{
	margin-top: 7px;
}
.main_nav_item
{
	display: inline-block;
	margin-right: 30px;
	color: #000;
}

.main_nav_item:last-child
{
	margin-right: 0px;
}
.main_nav_item a
{
	font-family: 'Poppins', sans-serif;
	font-size: 13.5px;
	text-transform: capitalize;
	font-weight: 400;
	color: #3a3a3a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav_item  a.active
{
	color: #00185F;
	font-weight: bold;
}
.main_nav_item a:hover{
	color:#ffb606;
}
.main_nav_item:hover
{
	color: #ffb606;
}
#users_details{
    background: #00185F;
    width: 50vw;
	border-radius: 10px;
}
#users_details h5{
    font-size: 18px;
    color: #fff;
    margin-left: 3rem;
    margin-top: 1.5rem;
}
/*********************************
3.3 Header Side
*********************************/

.header_side
{
	width: 279px;
	height: 100%;
	background: #ffb606;
}
.header_side img
{
	width: 29px;
	height: 29px;
}
.header_side span
{
	display: block;
	position: relative;
	font-size: 18px;
	font-weight: 500;
	color: #FFFFFF;
	padding-left: 12px;
}

/*********************************
3.4 Hamburger
*********************************/

.hamburger_container
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 10px;
	display: none;
	cursor: pointer;
}
.hamburger_container i
{
	font-size: 24px;
	padding: 10px;
	color: #001F7D;
}
.hamburger_container:hover i
{
	color: #ffb606;
}
.logo_mobile{
	top: 26%;
	display: none;
}
.search_mobile{
	top: 26%;
	right: 10px;
	display: none;
}
.search_mobile img{
	width: 40px;
	padding: 10px;
}
.logo_mobile img{
	width: 120px;
	margin-left: 3rem;
}
/*********************************
4. Menu
*********************************/

.menu_container
{
	position: fixed;
	top: 0;
	left: -50vw;
	width: 55vw;
	height: 100vh;
	background: #001F7D;
	z-index: 12;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
	visibility: hidden;
	opacity: 0;
}
.menu_container.active
{
	visibility: visible;
	opacity: 1;
	left: 0;
}
.menu
{
	position: absolute;
	top:150px;
	left: 0;
	padding-left: 10%;
}
.menu_list
{
	-webkit-transform: translateY(3.5rem);
	-moz-transform: translateY(3.5rem);
	-ms-transform: translateY(3.5rem);
	-o-transform: translateY(3.5rem);
	transform: translateY(3.5rem);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 1000ms 600ms ease;
	opacity: 0;
}
.menu_container.active .menu_list
{
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}
.menu_item
{
	margin-bottom: 9px;
}
.menu_item 
{
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	font-weight: 500;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_item:hover
{
	color: #ffb606;
}
.menu_close_container
{
	position: absolute;
	top: 20px;
	left: 60px;
	width: 21px;
	height: 21px;
	cursor: pointer;
	/* -webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg); */
}
.menu_close
{
	top: 9px;
	width: 21px;
	height: 3px;
	background: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close::after
{
	display: block;
	position: absolute;
	top: -9px;
	left: 9px;
	content: '';
	width: 3px;
	height: 21px;
	background: #fff;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close_container #back_button{
	background: #001E78;
}
.menu_close_container #back_button a{
	color: #FFFFFF;
}
.menu_close_container #back_button i{
	color: #F2E205;
}
.menu_close_container:hover .menu_close,
.menu_close_container:hover .menu_close::after
{
	background: #ffb606;
}

/*********************************
4.1 Menu Social
*********************************/

.menu_social_container
{
	margin-top: 100px;
	-webkit-transform: translateY(3.5rem);
	-moz-transform: translateY(3.5rem);
	-ms-transform: translateY(3.5rem);
	-o-transform: translateY(3.5rem);
	transform: translateY(3.5rem);
	-webkit-transition: all 1000ms 1000ms ease;
	-moz-transition: all 1000ms 1000ms ease;
	-ms-transition: all 1000ms 1000ms ease;
	-o-transition: all 1000ms 1000ms ease;
	transition: all 1000ms 1000ms ease;
	opacity: 0;
	padding-left: 4px;
}
.menu_social_item
{
	display: inline-block;
	margin-right: 30px;
}
.menu_social_item a i
{
	color: #3a3a3a;
}
.menu_social_item a i:hover
{
	color: #ffb606;
}
.menu_container.active .menu_social_container
{
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}

/*********************************
4.2 Menu copyright
*********************************/

.menu_copyright
{
	margin-top: 60px;
	-webkit-transform: translateY(3.5rem);
	-moz-transform: translateY(3.5rem);
	-ms-transform: translateY(3.5rem);
	-o-transform: translateY(3.5rem);
	transform: translateY(3.5rem);
	-webkit-transition: all 1000ms 1200ms ease;
	-moz-transition: all 1000ms 1200ms ease;
	-ms-transition: all 1000ms 1200ms ease;
	-o-transition: all 1000ms 1200ms ease;
	transition: all 1000ms 1200ms ease;
	opacity: 0;
	padding-left: 3px;
}
.menu_container.active .menu_copyright
{
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}

/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 100vh;
}

/*********************************
5.1 Hero Slider
*********************************/

.hero_slider_container
{
	width: 100%;
	height: 100%;
}
.hero_slide
{
	width: 100%;
	height: 100%;
}
.hero_slide_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.hero_slide_container
{
	width: 100%;
	height: 100vh;
}
.hero_slide_content
{
	max-width: 80%;
	-webkit-transform: translateY(30px);
	-moz-transform: translateY(30px);
	-ms-transform: translateY(30px);
	-o-transform: translateY(30px);
	transform: translateY(30px);
}
.hero_slide_content h1
{
	font-size: 72px;
	font-weight: 400;
	color: #FFFFFF;
}
.hero_slide_content h1 span
{
	background: #ffb606;
	padding-left: 13px;
	padding-right: 13px;
	margin-left: -12px;
	margin-right: -12px;
}
.animated
{
	-webkit-animation-duration : 1s !important;
	animation-duration : 1s !important;
	-webkit-animation-delay : 500ms;
	animation-delay : 500ms;
}
.animate-out
{
	-webkit-animation-delay : 0ms;
	animation-delay : 0ms;
}

/*********************************
5.2 Hero Slider Navigation
*********************************/

.hero_slider_nav
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(calc(-50% + 30px));
	width: 58px;
	height: 58px;
	background: #FFFFFF;
	z-index: 9;
	cursor: pointer;
}
.hero_slider_nav:hover
{
	background: #ffb606;
}
.hero_slider_nav:hover span
{
	color: #FFFFFF;
}
.hero_slider_nav span
{
	display: block;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	color: #121212;
	line-height: 1;
}
.hero_slider_left
{
	left: 4.32%;
}
.hero_slider_right
{
	right: 4.32%;
}

/*********************************
6. Hero Boxes
*********************************/

.hero_boxes
{
	width: 100%;
	height: 0px;
	z-index: 9;
	padding-top: 0px;
}
.hero_boxes_inner
{
	position: absolute;
	top: -212px;
	left: 0;
	width: 100%;
}
.hero_box
{
	width: 100%;
	height: 161px;
	background: #1a1a1a;
	padding-left: 50px;
	cursor: pointer;
}
.hero_box:hover
{
	background: #ffb606;
}
.hero_box img
{
	width: 62px;
	height: auto;
	margin-top: -6px;
}
.svg path
{
	fill: #ffb606;
}
.hero_box svg
{
	width: 62px;
	height: auto;
}
.hero_box:hover svg path
{
	fill: #FFFFFF;
}
.hero_box_content
{
	padding-left: 13px;
	padding-top: 11px;
	margin-top: -6px;
}
.hero_box_title
{
	font-size: 24px;
	font-weight: 500;
	color: #FFFFFF;
	margin-bottom: 7px;
}
.hero_box_link
{
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-left: 3px;
}
.hero_box_link:hover
{
	color: #1a1a1a;
}
#cta .container{
	position: relative;
	background: #001145;
	height: auto;
	border-radius: 30px;
	padding: 60px 100px 60px 100px;
}
#cta .container .vector1 svg path{
	/* Vector */
background: rgba(242, 226, 5, 0.25);
}
#cta .container .vector2 svg path{
	/* Vector */
background: rgba(242, 203, 5, 0.25);

}
#cta .container .vector3 svg path {
/* Vector */
background: rgba(242, 203, 5, 0.25);

}
#cta .container .vector4 svg path{
	/* Vector */
background: rgba(202, 217, 186, 0.25);
transform: rotate(-29.71deg);

}
#cta .container h5{
	font-size: 40px; 
	font-weight: 600;
}
#cta_details button{
	background: #F2E205; 
	color: #fff;
	border-radius: 10px;
	
}

/*********************************
7. Page Section
*********************************/

.page_section
{
	padding-top: 117px;
	padding-bottom: 117px;
}
.section_title
{

}
.section_title h1
{
	display: block;
	color: #1a1a1a;
	font-weight: 500;
	padding-top: 24px;
}
.section_title h1::before
{
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 55px;
	height: 4px;
	content: '';
	background: #ffb606;
}

/*********************************
8. Buttons
*********************************/

.button
{
	cursor: pointer;
}
.button:hover
{
	box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
}
.button a
{
	font-size: 14px;
	line-height: 48px;
	font-weight: 700;
	text-transform: uppercase;
}
.button_1
{
	width: 202px;
	height: 48px;
}

/*********************************
9. Popular
*********************************/

.popular
{

}
.course_boxes
{
	margin-top: 68px;
}
#category .card
{
	display: block;
	background: #f8f9fb;
	border: none;
}
#category .card-img-top
{
	border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
#category .card-body
{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
	padding-right: 15px;
}
#category .card-body p{
	color: #000000;
}
#category .card-body h5{
	color: #000000;
	font-size: 20px;
}
#category .card-title
{
	/* margin-top: 55px; */
}
#category .card-title a
{
	font-size: 22px;
	font-weight: 500;
	color: #1a1a1a;
	line-height: 1.2;
}
#category .card-title a:hover
{
	color: #a5a5a5;
}
#category .card-text
{
	font-size: 14px;
	font-weight: 500;
	color: #000000;
	margin-top: -12px;
}
.category-pill-round {
    padding: 0.5rem;
    width: auto;
    color: #000000;
    text-decoration: none;
    border-radius: 1.5rem;
    white-space: nowrap;
}

.category-pill-round:hover:active {
    color: #000000 !important;
}
.price_box
{
	width: 100%;
	height: 67px;
	background: #eaebec;
	margin-top: 41px;
	padding-left: 35px;
}
.course_author_image
{
	width: 46px;
	height: 46px;
	border-radius: 50%;
	overflow: hidden;
}
.course_author_name
{
	font-size: 14px;
	font-weight: 500;
	color: #1a1a1a;
	padding-left: 20px;
	margin-top: 7px;
}
.course_author_name span
{
	color: #a5a5a5;
}
.course_price
{
	width: 67px;
	height: 67px;
	background: #ffb606;
	margin-left: auto;
}
.course_price span
{
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 500;
	margin-top: 7px;
}

/*********************************
10. Register
*********************************/

.register
{
	width: 100%;
}
.register_section
{
	width: 100%;
	background: #ffb606;
	padding-top: 156px;
	padding-bottom: 161px;
}
.register_content
{
	width: 522px;
}
.register_title
{
	color: #FFFFFF;
	margin-bottom: 16px;
	line-height: 1.63;
}
.register_title:last-child
{
	margin-bottom: 0px;
}
.register_title	span
{
	color: #1a1a1a;
}
.register_text
{
	color: #FFFFFF;
	font-weight: 500;
	margin-top: 32px;
	padding-left: 25px;
	padding-right: 25px;
	margin-bottom: 0px;
}
.register_button
{
	background: #1a1a1a;
	margin-top: 65px;
}
.register_button a
{
	color: #FFFFFF;
}

/*********************************
11. Search
*********************************/

.search_section
{
	width: 100%;
	height: 100%;
	background: #ececec;
}
.search_content
{
	width: 522px;
}
.search_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 0.23;
}
.search_title
{
	color: #1a1a1a;
}

/*********************************
11.1 Search Form
*********************************/

.search_form
{
	margin-top: 57px;
}
.input_field
{
	width: 100%;
	height: 42px;
	background: #FFFFFF;
	box-sizing: border-box;
	border: solid 2px #FFFFFF;
	padding-left: 25px;
	margin-bottom: 24px;
}
input:last-of-type
{
	margin-bottom: 0px;
}
.input_field:focus
{
	outline: none !important;
	border: solid 2px #ffb606;
}
.search_submit_button
{
	width: 100%;
	height: 48px;
	background: #ffb606;
	color: #FFFFFF;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 28px;
	border: none;
	cursor: pointer;
}
.search_submit_button:hover
{
	box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
}
.search_submit_button:focus
{
	outline: solid 2px #FFFFFF;
}

/*********************************
12. Services
*********************************/

.services
{
	padding-bottom: 76px;
}
.services_row
{
	margin-top: 65px;
}
.service_item
{
	margin-bottom: 41px;
}
.service_item h3
{
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
	font-weight: 500;
	color: #1a1a1a;
	margin-bottom: 13px;
}
.service_item p
{
	font-size: 14px;
	font-weight: 500;
	color: #a5a5a5;
	max-width: 100%;
	margin-bottom: 0px;
}
.icon_container
{
	height: 41px;
	width: auto;
	margin-bottom: 30px;
}
.icon_container img
{
	height: 100%;
}

/*********************************
13. Testimonials
*********************************/

.testimonials
{
	width: 100%;
	background: #1a1a1a;
}
.testimonials_background_container
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.testimonials_background
{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	opacity: 0.27;
}
.testimonials .section_title h1
{
	color: #FFFFFF;
}
.testimonials_slider_container
{
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 56px;
}
.testimonials_item
{
	width: 100%;
	padding-bottom: 75px;
}
.quote
{
	font-size: 36px;
	color: #ffb606;
}
.testimonials_text
{
	color: #FFFFFF;
	margin-bottom: 0px;
}
.testimonial_user
{
	margin-top: 43px;
}
.testimonial_image
{
	width: 98px;
	height: 98px;
	border-radius: 50%;
	overflow: hidden;
}
.testimonial_image img
{
	width: 100%;
	height: auto;
}
.testimonial_name
{
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #f6af03;
	margin-top: 21px;
}
.testimonial_title
{
	font-size: 14px;
	font-weight: 500;
	color: #FFFFFF;
	margin-top: 6px;
}
.testimonials_slider .owl-dots
{
	display: -webkit-box !important;
	display: -moz-box !important;
	display: -ms-flexbox !important;
	display: -webkit-flex !important;
	display: flex !important;
	flex-direction: row !important;
	justify-content: center;
	align-items: center;
}
.testimonials_slider .owl-dot span
{
	width: 8px !important;
	height: 8px !important;
	border: solid 2px #FFFFFF;
	background: transparent !important;
}
.testimonials_slider .owl-dot.active span
{
	width: 16px !important;
	height: 16px !important;
	border: none;
	background: #ffb606 !important;
}

/*********************************
14. Events
*********************************/

.event_items
{
	margin-top: 68px;
}
.event_item
{
	margin-bottom: 56px;
}
.event_item:last-child
{
	margin-bottom: 0px;
}
.event_date
{
	width: 131px;
	height: 131px;
	border: solid 2px #ffb606;
	margin-bottom: 18px;
}
.event_day
{
	font-size: 48px;
	font-weight: 700;
	color: #ffb606;
	margin-bottom: 1px;
	line-height: 1;
}
.event_month
{
	font-size: 16px;
	font-weight: 700;
	color: #ffb606;
}
.event_name a
{
	font-size: 22px;
	font-weight: 500;
	color: #1a1a1a;
}
.event_name a:hover
{
	color: #ffb606;
}
.event_location
{
	font-size: 14px;
	font-weight: 500;
	color: #1a1a1a;
	margin-top: 2px;
}
.event_content p
{
	font-weight: 500;
	color: #a5a5a5;
	margin-top: 21px;
	margin-bottom: 13px;
}
.event_image
{

}
.event_image img
{
	width: 100%;
}
#tutor .container{
	background: url(./images/Group\ 17\ new.png);
	background-repeat: no-repeat;
	background-position: top center;
}
#tutor .container .row{
	margin-top: 20%;
}
#tutor .container .row .col-lg-6 img{
	border-radius: 30px;
}
.tutor_under .container .row .card{
	border: 0px;
}
.tutor_under .container .row .card .card-body h5{
	font-size: 20px;
	font-weight: 600;
	color: #001F7D;
}
.tutor_under .container .row .card .card-body p{
	font-size: 12px;
	font-weight: 500;
	color: #000000;
}
.tutor_under .container .row .card .card-body .card-icon{
	display: flex;
	justify-content: center;
	align-items: center;
}
#tutor .container .row .col-lg-6 h5{
	font-size: 40px;
	font-weight: 600;
	color: #001F7D;
}
#tutor .container .row .col-lg-6 p{
	color: #000000;
}
.tutor_under .title h5{
	font-size: 30px;
	font-weight: 600;
	color: #001F7D;
}

#privacy .container{
	margin-top: 15%;
	background: url(./images/top_image.png);
	background-repeat: no-repeat;
	background-position: top right;
}
#privacy .container .title h5{
	font-size: 30px;
	font-weight: 600;
	color: #001F7D;
}
#privacy .container .contact{
	width: 50%;
	height: auto;
	background: #fff;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.20);
	padding: 10px 50px 10px 50px;
	margin-bottom: 50px;
}
#privacy .container .contact .text_title h5{
	font-size: 30px;
	font-weight: 600;
	padding-top: 50px;
	color: #001F7D;
}
#privacy .container .texts_about p::first-letter{
	font-size: 30px;
	font-weight: 600;
	color: #001F7D;
}
#privacy .container .contact .form input{
	padding: 10px 30px 10px 30px;
	border-radius: 10px;
}
#privacy .container .contact .form textarea{
	border-radius: 10px;
}
#privacy .container .contact .form button{
	border-radius: 30px;
}
#privacy .container .about_items{
	background: #001F7D;
	border-radius: 20px;
}
#privacy .container .about_items h5{
	color: #F2CB05;
	font-size: 20px;
	font-weight: 600;
}
#privacy .container .about_items p{
	color: #fff;
	font-size: 15px;
}
#privacy .container .title p{
	font-size: 20px;
	font-weight: 600;
	color: #000000;
}
#share_icons i{
	font-size: 20px;
	color: #F2CB05;
}
#privacy .container .title .details p{
	font-size: 15px;
}
#privacy .container .blog_details h5{
	color: #001F7D;
	font-size: 30px;
	font-weight: 600;
	line-height: 45px;
}
#under_privacy{
	background: rgba(4, 85, 191, 0.05);
}
#under_privacy .container .title h5{
	font-size: 30px;
	font-weight: 600;
	color: #001F7D;
}
/* Commenting */
/*hero content*/
.hero {
    height: 44rem;
    display: flex;
    width: 100%;
    padding: 0;
    margin-bottom: 5rem;
}

.hero-content {
    margin-top: 14rem;
    width: 55%;
    padding: 0 6rem 0 5rem;
}

.hero-content h1 {
    font-size: 44px;
    font-weight: 550;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #001F7D;
    margin-bottom: 1rem;
}

.hero-content p {
    line-height: 1.5;
}

.hero-search {
    border: 1px solid lightgray;
    border-radius: 1rem;
    margin-top: 3rem;
    padding: 0.5rem;
    vertical-align: middle;
    justify-content: space-between;
}

.hero-input {
    line-height: 1.5;
    border: none;
    border-right: 1px solid lightgray;
    outline: none;
    width: 15rem;
}

.hero-content .fas {
    align-self: center;
}

.hero-search select {
    border: none;
    outline: none;
}
.hero-search .submit {
    background-color: #F2CB05;
    color: white;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 1rem;
    transition: all 0.5s ease-in;
}

.hero-search .submit:active {
    outline: none;
    border: none;
    opacity: 0.5;
}

.hero-img {
    height: 100%;
    width: 45%;
    background: url('./images/Group 59.png');
    background-size: fill;
}

.hero-img img {
    margin-top: 9rem;
    margin-left: -3rem;
    height: 23rem;
    border-radius: 1.5rem;
    border: 10px solid white;
    object-position: center;
}

.hr-light {
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
}

/*course-category navigation*/
.course-category {
    padding:  2rem 4rem;
    margin-bottom: 3rem;
    align-items: center;
}

.course-category-mobile {
    display: none;
}

.course-category h1 {
    text-align: center;
    font-size: 44px;
    font-weight: 600;
    color: #001F7D; 
}

#slideLeft, #slideRight {
    padding: 1rem;
    outline: none;
    border: none;
    background-color: transparent;
    box-shadow: none;
}

#slideLeft, #slideRight .fas {
    font-size: 1.2rem;
    align-self: center;
}

.course-category .pill-nav {
    display: inline-flex;
    width: 90%;
    flex-wrap: nowrap;
    overflow: auto;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;  /* IE and Edge */
    margin: auto;
    scroll-behavior: smooth;
}

.course-category .pill-nav::-webkit-scrollbar {
    display: none; /* Hide scrollbar for IE, Edge and Firefox */
}

.course-category .pill-nav .pill {
    text-align: center;
    color: #1E1E1E;
    text-decoration: none;  
    float: left;
    width: fit-content;
    margin-right: 2rem;
    padding: 1rem;
}

.course-category .pill.active {
    background-color: #f2cb054b;
    color: #1E1E1E;
    border-radius: 1.5rem;
}


/*cards*/
#category .card {
    padding: 0.5rem ;
    height: auto;
    border-radius: 1.5rem;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 20px 0 rgba(0, 0, 0, 0.03);
    margin-bottom: 3rem;
}

#category .card-img-top {
    height: 15rem;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
	margin-bottom: 1rem;
}

#category .card-title {
    font-weight: 600;
	margin-top: 1rem;
}

#category .card .far, .card .fas {
    color: #F2CB05;
}

#category .card .price {
    color: #F2CB05;
    font-weight: 550;
    font-size: 1.3rem;
}

a.view-all {
    display: block;
    width: fit-content;
    font-weight: bold;
    color: #F2CB05;
    background-color: #f2cb054b;
    padding: 1.5rem 5rem;
    border: 1px solid #F2CB05;
    border-radius: 1rem;
    margin: 1.5rem auto;
}

a.view-all:hover {
    opacity: 0.8;
    color: #F2CB05;
	cursor: pointer;
}


/*jobs section*/
.jobs {
    display: flex;
    background: url('./images/jobsbg.png'); 
    background-size: fill;
    height: 48rem;
    align-items: center;
    padding: 3rem 0;
    margin-bottom: 5rem;
}

.job-text {
    padding: 5rem;
    width: 50%;
}

.job-text h1 {
    font-size: 44px;
    font-weight: 550;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #F2CB05;
    margin-bottom: 2rem;
}

.view-jobs {
    display: block;
    width: fit-content;
    color: #FFFFFF;
    background-color: #001F7D;
    padding: 1.5rem 5rem;
    border-radius: 1.5rem;
    margin: 2rem auto;
}
.view-jobs:hover{
	color:#FFFFFF;
}
#top{
	padding-top: 3rem;
	padding-bottom: 3rem;
	background: rgba(4, 85, 191, 0.05);
}
#top .container .title{
	font-size: 40px;
	font-weight: 600;
	color: #001F7D;
	padding-bottom: 1rem;
}
#top .container span{
	color: #000000;
}
#batutor .container .title{
	font-size: 30px;
	font-weight: 600;
	color: #001F7D;
}
.start-tutor {
		display: block;
		width: fit-content;
		color: #FFFFFF;
		background-color: #F2CB05;
		padding: 1rem 4rem;
		border-radius: 1.5rem;
		margin: 2rem auto;
}
.start-tutor:hover{
	color: #FFFFFF;
}

.job-img {
    width: 50%;
    padding: 3rem;
    height: 100%;
    background: url('./images/job image.png');
    background-size: fill;
    background-position: center;
    background-repeat: no-repeat;
}

.jobs img {
    display: block;
    width: 32rem;
    margin: auto;
    margin-top: 8rem;
    border-radius: 1.5rem;
}



@media screen and (max-width: 1024px) {

    .hero-content {
        padding: 0 3rem;
    }

    .hero-input {
        width: 11rem;
    }

    .hero-img img {
        height: 19rem;
    }

    /*course-category navigation*/
    .course-category {
        padding:  2rem 3rem;
    }

    .course-category .pill-nav {
        width: 88%;
    }

    /*jobs section*/
    .jobs {
        padding: 3rem 0;   
    }

    .job-text {
        padding: 3rem;
    }

    .job-img {
        padding: 2rem;
        object-fit: contain;
    }

    .jobs img {
        width: 26rem;
        margin-top: 10rem;
    }
}

@media screen and (max-width: 991px) {
    
    /*hero section*/
    .hero {
        height: 40rem;
    }

    .hero-content {
        margin-top: 10rem;
        padding: 0 1.5rem;
    }

    .hero-input {
        width: 5rem;
    }
    
    .hero-content h1 {
        font-size: 38px;
    }

    .hero-search {
        padding: 0.25rem;
    }

    .hero-input {
        width: 5rem;
    }

    .hero-search .submit {
        padding: 0.75rem;
    }

    .hero-img {
        background-size: contain;   
    }

    .hero-img img {
        margin-top: 11rem;
        height: 15rem;
        border: 5px solid white;
    }

    /*course category*/
    .course-category {
        padding: 1.5rem;
    }

    .course-category h1 {
        font-size: 38px;
    }

    .course-category .pill-nav {
        width: 82%;
    }   

    #category .card-img-top {
        height: 10rem;
    }

    /*jobs section */
    .jobs {
        padding: 2rem 0;   
    }

    .job-text {
        padding: 1.5rem;
    }

    .job-text h1 {
        font-size: 38px;
    }

    .job-img {
        padding: 1.5rem;
        height: 30rem;
        background-size: contain;
    }

    .jobs img { 
        width: 100%;
        margin-top: 7rem;
    }

}
@media screen and (max-width: 400px)
{
	.hero-search .submit
	{
		display: none;
	}
}
@media screen and (max-width: 767px) {
    
    .hero {
        flex-wrap: wrap;
        flex-flow: column-reverse;
        height: fit-content;
    }

    .hero-content {
        width: 100%;
        padding: 1.5rem;
        margin: auto;
    }
 
    .hero-content h1 {
        font-size: 32px;
    }

    .hero-img {
        height: 22rem;
        width: 100%;
        background: url('./images/Hero-mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero-img img {
        height: 15rem;
        margin-top: 3rem;
        width: auto;
        margin-left: -2rem;
        border: 6px solid white;
    }

    .hero-search {
        margin-top: 1rem;
    }

    .hero-search select {
        display: none;
    }
    .hero-search .fas {
        display: none;
    }

    .hero-input {
        width: 18rem;
        border: none;
    }

    .hero-search .submit {
        border-radius: 1rem;
    }

    /*course-category */
    .hr-light {
        display: none;
    }

    .course-category {
        display: none !important;
    }

    .course-category-mobile {
        display: block;
        margin-top: -4rem;
        padding: 1.5rem;
        margin-bottom: 1rem;
    }

    .course-category-mobile > p {
        padding: 1rem;
        font-weight: 550;
        margin-bottom: 0;
        border-top: 1px solid lightgray;
    } 

    .most-popular {
        display: flex;
        flex-wrap: nowrap;
        overflow-y: hidden;
        overflow-x: auto;
        padding: 1rem 0.5rem;
        border-bottom: 1px solid lightgray;
    }

    .accordion-link {
        text-align: left;
        font-weight: 550;
        width: 100%;
        padding: 1rem;
        border: none;
        border-bottom: 1px solid lightgray;
        background: none;
    } 

    .accordion-link.active, .accordion-link:active {
        border: none !important;
        outline: none !important;
    }

    .accordionPanel {
        display: none;
        flex-wrap: nowrap;
        overflow-y: hidden;
        overflow-x: auto;
        padding: 1rem 0.5rem;
        border-bottom: 1px solid lightgray;
        transition: all 0.5s;
        animation: fadeIn 1s ease-out;
    }

    /*cards*/
    #category .card { 
        flex-grow: 0;
        flex-shrink: 0;
        margin: auto;
        margin-right: 1.5rem;
        width: 95%;
    }

    #category .card-img-top {
        height: 12rem;
        object-fit: fill;
    }

    #category .card-title {
        font-weight: 600;
    }

    #category .card .far, .card .fas {
        color: #F2CB05;
    }

    #category .card .price {
        color: #F2CB05;
        font-weight: 550;
        font-size: 1.3rem;
    }

    a.view-all {
        align-self: center;
        margin: 2rem auto;
        padding: 1rem 4rem;
    }
    
    /*jobs section*/
    .jobs {
        background: url('./images/jobsbg.png'); 
        padding: 0.5rem;
        flex-wrap: wrap-reverse;
        margin-bottom: 5rem;
    }

    .job-text {
        padding: 1rem;
        width: 100%;
    }

    .job-text h1 {
        font-size: 32px;
        margin-bottom: 1rem;
    }

    .view-jobs {
        padding: 1rem 4em;
        border-radius: 1rem;
    }

    .job-img {
        background: url('./images/job image (2).png');background-size: fill;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: auto;
    }

    .jobs img {
        display: block;
        margin: auto;
        border-radius: 1.5rem;
    }
}
/* Commenting */
.tutor .container .tutor_text h5{
	color: #001F7D;
	font-size: 30px;
	font-weight: 550;
}
.tutor .container .tutor_text{
	margin-top: 150px;
}

#user-dashboard .breadcrumb{
	background: none;
}
#user-dashboard .breadcrumb li{
	font-size: 19px;
}
.hoverEffect:hover
{
	color:white
}
/*********************************
15. Footer
*********************************/

.footer
{
	width: 100%;
	padding-top: 15px;
	background: #FFFFFF;
	color: #000000;
}
.footer .section_title h1
{
	color: #FFFFFF;
}

/*********************************
15.1 Newsletter
*********************************/

.newsletter
{
	padding-bottom: 85px;
	border-bottom: solid 2px #4d4e4e;
}
.newsletter_form_container
{
	width: 60%;
	margin-top: 48px;
}
.newsletter_email
{
	width: calc(100% - 164px);
	height: 42px;
	border: none;
	padding-left: 27px;
	font-weight: 500;
	color: #1a1a1a;
}
.newsletter_email:focus
{
	outline: solid 2px #ffb606;
}
.newsletter_submit_btn
{
	width: 164px;
	height: 42px;
	border: none;
	background: #ffb606;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
}
.newsletter_submit_btn:focus
{
	border: solid 2px #FFFFFF;
}

/*********************************
15.2 Footer Content
*********************************/

.footer_content 
{
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer_content .logo_container
{
	padding-left: 0px;
}
.footer_content .logo span
{
	color: #FFFFFF;
}
.footer_about_text, p
{
	padding-right: 20px;
	color: #000000;
}
.footer_column_title
{
	font-size: 19px;
	font-weight: 600;
	color: #000000;
	padding-top: 15px;
}
.footer_column_content
{
	margin-top: 32px;
}
.footer_list_item
{
	margin-bottom: 11px;
	
}
.footer_list_item a, .footer_list_item
{
	font-size: 14px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	color: #000000;
}
.footer_list_item a:hover,.footer_list_item:hover
{
	color: #ffb606;
}
.footer_contact_item
{
	font-size: 14px;
	font-weight: 400;
	color: #000000;
	margin-bottom: 22px;
}
.footer_contact_item:last-child
{
	margin-bottom: 0px;
}
.footer_contact_icon
{
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	margin-right: 10px;
}
.footer_contact_icon img
{
	width: 100%;
}
.footer_contact_icon i{
	color: #ffb606;
	font-size: 18px;
}

/*********************************
15.3 Footer Copyright
*********************************/

.footer_bar
{
	padding-top: 19px;
	padding-bottom: 19px;
}
.footer_social .menu_social_item a i
{
	color: #FFFFFF;
}
.footer_social .menu_social_item a i:hover
{
	color: #ffb606;
}
.footer_social .menu_social_item:last-child
{
	margin-right: 0px;
}

/* Chat Section Begins */
.svg-icon {
	height: 1.2em;
	width: 1.2em; }

.dropdown-menu {
	box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1); }
.dropdown-menu {
		padding-top: 0px;
		border: 0px;
		box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1); }
.dropdown-menu .with-arrow {
		  position: absolute;
		  height: 10px;
		  overflow: hidden;
		  width: 40px;
		  top: -10px; }
.dropdown-menu .with-arrow > span {
			background-color: #fff;
			width: 15px;
			height: 15px;
			top: 3px;
			left: 15px;
			position: absolute;
			content: "";
			-moz-border-radius: 6px 0 0 0;
			border-radius: 6px 0 0 0; }
.dropdown-menu.dropdown-menu-right .with-arrow {
		  right: 0px; }
		  .topbar .dropdown-menu.dropdown-menu-right .with-arrow > span {
			right: 20px;
			left: auto; }	  
.dropdown-toggle::after {
		display: none; }
	  
.mailbox .message-center .message-item .message-title {
    color: #212529;
}
.mailbox .message-center .message-item:hover {
    background: #e8eaec;
 }
.mailbox .message-center .message-item{
	border-bottom: 2px solid #e9e9e9;
}
.mailbox .message-center .message-item .message-title {
    color: #212529; 
}
.chat-box {
	overflow: auto; 
}
.chat-list .chat-item .chat-img {
	width: 45px;
	vertical-align: top; }
  
  .chat-list .chat-item .chat-content {
	width: calc(100% - 50px); }
	.chat-list .chat-item .chat-content .msg {
	  background-color: #e4fbf8;
	  font-size: 14px; }
  
  .chat-list .chat-item .chat-time {
	margin-left: 65px; }
  
  .chat-list .chat-item.odd .chat-content {
	width: calc(100% - 0px); }
	.chat-list .chat-item.odd .chat-content .msg {
	  background-color: #eef5ff; }
  
  .chat-list .chat-item.odd .box {
	clear: both; }
  
  .chat-list .chat-item.odd + .odd {
	margin-top: 0px; }
  
  .chat-list .chat-item.reverse {
	text-align: right; }
	.chat-list .chat-item.reverse .chat-time {
	  text-align: left; }
	.chat-list .chat-item.reverse .chat-content {
	  padding-left: 0px;
	  padding-right: 15px; }

@media only screen and (max-width: 767px) and (orientation: landscape) {
	.mailbox .message-center {
	  height: 145px !important; } }